* {
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-family: Roboto, Arial, sans-serif;
}

body {
  background-color: pink;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0 12px;
}

.mainContainer {
  display: grid;
  background-color:aqua; 
  
  /* border: 1px solid black;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr); */
  min-height: 100vh;
  grid-gap: .5rem; 
  /* grid-auto-rows: minmax(125px, auto);*/
  
}

.box {
  background-color: beige;
  color: black;
  border: 1px dodgerblue solid;
  
}

/* header */

.a {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}


.youtubeLogo {
  height: 18px;
}

.userIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcon {
  height: 18px;
}

.profileIcon {
  height: 32px;
  border-radius: 50%;
}

.searchBar {
  display: flex;
  border-radius: 2px 0 0 2px;
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
  border-left: 1px solid #5c5c5c;
  align-items: center;
  padding-top: 2px;
  padding-left: 6px;
  height: 33px;
  width: 55%;
}

.searchBar > input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 95%;
  height: 90%;
  font-size: 16px;
}

.searchBar > button {
  border-right: 1px solid #5c5c5c;
  border-left: 1px solid #5c5c5c;
  justify-self: right;
  padding: 0px 20px;
}

.b {
  /* grid-row: 2 / 5;
  grid-column: 1/ 6; */
}

.c {
  /* grid-row: 2 / 4;
  grid-column: 6 / 9; */
}

.d {
  /* grid-row: 3 / 9;
  grid-column: 6 / 9; */
}

.e {
  /* grid-row: 5 / 7;
  grid-column: 1/ 6; */
}

.f {
  /* grid-row: 7 / 9;
  grid-column: 1/ 6; */
}