* {
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-family: Roboto, Arial, sans-serif;
}

body {

}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0 12px;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #c8c8c8;
  border-radius: 5px;
}

.mainContainer {
  display: grid;
  /* background-color:aqua;  */
  min-height: 100vh;
  grid-gap: 10px; 
  grid-auto-rows: 56px repeat(4, 1fr);
  grid-template-areas: 
  "header"
  "media"
  "description"
  "ads"
  "sidePanel"
  "comments";
}

.box {
  /* background-color: beige; */
  color: black;  
}

/* header */

header {
  grid-area: header;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}


.youtubeLogo {
  height: 18px;
}

.userIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcon {
  height: 18px;
}

.profileIcon {
  height: 32px;
  border-radius: 50%;
}

.searchBar {
  display: flex;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
  align-items: center;
  padding: 2px 6px;
  padding-right: 0px;
  height: 33px;
  width: 55%;
}

.searchBar > input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 95%;
  height: 90%;
  font-size: 16px;
}

.searchBar > input:focus {
  outline: none;
}

.searchBar > button {
  height: 31px;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  background-color: #f8f8f8;
  padding: 0px 20px;
  width: 65px;
}

.searchBar > button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

/* MEDIA PLAYER */

.media {
  grid-area: media;
  margin-left: 1em;
  margin-right: 1em;
}

.player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-right: 42px
}

.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* margin-right: 42px; */
}

.video-info {
  padding: 20px 0px 8px;
}

.video-title {
  font-size: 18px;
  font-weight: 400;
}

.video-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.interaction-button-holder {
  display: flex;
}

.interaction-button {
  display: flex;
  height: 36px;
  padding: 8px;
  align-items: center;
}

.interaction-button p {
  padding-left: 8px
}

.interaction-button img {
  height: 16px;
}

/* ADVERTISEMENTS */
.ads {
  grid-area: ads;
  margin-left: 1em;
  margin-right: 1em;
}

.ads > img {
  width: 425px
  /* min-width: 100% */
  /* height: 170px;
  width: 410px; */
}

/* RECOMMENDED VIDS SIDEPANEL */

.sidePanel {
  grid-area: sidePanel;
  margin-left: 1em;
  margin-right: 1em;
}

.vidRecs {
  display: flex;
  /* width: 100%; */
  position: relative;
  padding-top: 1rem;
  text-decoration: none;
  color: black;
}

.vidRecs:visited {
  text-decoration: none;
  color: black;
}

/* .thumbnail-img {
  position: relative;
} */

.upNext {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.autoplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-size: 16px;
}

.autoplay > span {
  flex-grow: 1;
}

.autoplay span ~ span {
  padding-right: 1rem;
  flex-grow: 0;
  color: #606060;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}


.autoplay-toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  height: 12px;
  border-radius: 15px;
  border: none;
  background-color: #606060;
}

.autoplay-toggle::before {
  display: flex;
  content: '';
  position: absolute;
  right: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #065FD4;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.thumbnail-img img {
  height: 96px;
}

.duration {
  text-align: right;
  margin-top: -2rem;
  padding: 0.5rem;
}

.duration span {
  font-size: .75rem;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 0.1rem 0.4rem;
  border-radius: 2px;
  letter-spacing: 0.5px;
}

.thumbnail-info {
  padding: 0 .5rem 0 .4rem;
}

.thumbnail-info > h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 4px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-info > h4, p {
  font-size: 13px;
  color: #606060;
  line-height: 1.2rem;
}

.new {
  font-size: 12px;
  color: #606060;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 2px 4px;
  font-weight: 500;
  line-height: 1.2rem;
}

/* VIDEO DESCRIPTION AND CHANNEL STATS */

.description {
  grid-area: description;
  margin-left: 1em;
  margin-right: 1em;
}

.channel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 8px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

.channel-info > div {
  flex-grow: 1;
}

.channel-info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.channel-info button {
  text-transform: uppercase;
  font-size: 14px;
  color: #FFF;
  background-color: #CC0000;
  border-radius: 2px;
  font-weight: 400;
  letter-spacing: .007px;
  padding: 10px 16px;
  height: 36px;
  margin-right: 42px
}

.channel-stats a {
  font-size: 14px;
  color: #0d0d0d
}

.channel-stats p {
  font-size: 13px;
  color: #606060;
  font-weight: 400;
  margin-right: 4px;
}

.video-description {
  padding-left: 66px;
}

.video-description p {
  font-size: 14px;
  color: black;
  margin-bottom: 14px;
}

.show-more {
  text-transform: uppercase;
  color: #606060;
  font-size: 13px;
  padding: 0;
  font-weight: 500;
}


.comments {
  grid-area: comments;
  margin-left: 1em;
  margin-right: 1em;
}

.comment-header {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.sortBy {
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .007px;
  color: #606060;
  align-items: center;
  margin-left: 8px;
}

.sortBy img {
  height: 20px;
  padding-right: 8px;
}

.comment-box {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.comment-box img, .single-comment img {
  margin-right: 10px;
}

.comment-box input {
  width: 100%;
  height: 31px;
  align-self: flex-start;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  margin-right: 42px;
}

.comment-box input:focus {
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.comment-buttons button {
  text-transform: uppercase;
  font-size: 14px;
  color: #FFF;
  background-color: #065FD4;
  border-radius: 2px;
  font-weight: 400;
  letter-spacing: .007px;
  padding: 10px 16px;
  height: 36px;
}

.comment-buttons :nth-child(1) {
  margin-right: 10px;
  background-color: white;
  color: #606060
}

.comment-buttons :nth-child(2) {
  margin-right: 42px
}

.comment-buttons :nth-child(1):active {
  background-color: #c8c8c8;
}

.single-comment {
  display: flex;
  margin-bottom: 14px;
}

.comment-info h4 {
  font-size: 14px;
  margin-bottom: 4px;
}


.comment-info a {
  text-decoration: none;
  font-size: 12px;
  color: #606060;
}

.comment-info a:active {
  background-color: #c8c8c8;
  border-radius: 5px;
}

.comment-info p {
  font-size: 13px;
  color: #0d0d0d;
}

.like-buttons {
  display: flex;
}

.like-buttons :nth-child(1), .like-buttons :nth-child(2), .like-buttons :nth-child(3){
  /* height: 16px;
  width: 16px; */
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #606060;
}

.like-buttons img {
  height: 24px;
  margin: 0
}



/* LARGE SCREENS */

@media (min-width: 900px) {
  .mainContainer {
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 56px repeat(4, 1fr);
    grid-template-areas: 
      "header header"
      "media ads"
      "media sidePanel"
      "description sidePanel"
      "comments sidePanel";
  }

  .media {
    margin-left: 2em;
  }

  .ads {
    margin-right: 2em;
  }


  .sidePanel {
    margin-right: 2em;
  }

  .description {
    margin-left: 2em;
  }

  .comments {
    margin-left: 2em;
  }


}