* {
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-family: Roboto, Arial, sans-serif;
}

body {
  /* background-color: pink; */
}

button {
  background: none;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0 12px;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #c8c8c8;
  border-radius: 5px;
}

.mainContainer {
  display: grid;
  /* background-color:aqua;  */
  min-height: 100vh;
  grid-gap: 10px; 
  grid-template-rows: 56px repeat(4, 1fr);
  grid-template-areas: 
  "header"
  "media"
  "description"
  "ads"
  "sidePanel"
  "comments";
}

.box {
  /* background-color: beige; */
  color: black;
  border: 1px dodgerblue solid;
  
}

/* header */

header {
  grid-area: header;
  /* height: 56px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}


.youtubeLogo {
  height: 18px;
}

.userIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcon {
  height: 18px;
}

.profileIcon {
  height: 32px;
  border-radius: 50%;
}

.searchBar {
  display: flex;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 2px 0 0 2px;
  box-shadow: inset 0 1px 2px #eee;
  align-items: center;
  padding: 2px 6px;
  padding-right: 0px;
  height: 33px;
  width: 55%;
}

.searchBar > input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 95%;
  height: 90%;
  font-size: 16px;
}

.searchBar > input:focus {
  outline: none;
}

.searchBar > button {
  height: 31px;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  background-color: #f8f8f8;
  padding: 0px 20px;
  width: 65px;
}

.searchBar > button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}



.media {
  grid-area: media;
  /* grid-row: 2 / 5;
  grid-column: 1/ 6; */
}

.ads {
  grid-area: ads;
  /* grid-row: 2 / 4;
  grid-column: 6 / 9; */
}

.sidePanel {
  grid-area: sidePanel;
  /* grid-row: 3 / 9;
  grid-column: 6 / 9; */
}

.description {
  grid-area: description;
  /* grid-row: 5 / 7;
  grid-column: 1/ 6; */
}

.comments {
  grid-area: comments;
  /* grid-row: 7 / 9;
  grid-column: 1/ 6; */
}

@media (min-width: 800px) {
  .mainContainer {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 56px repeat(4, 1fr);
    grid-template-areas: 
      "header header"
      "media ads"
      "media sidePanel"
      "description sidePanel"
      "comments sidePanel"
    ;
  }
}